<form #modifyForm="ngForm" name="modifyForm" (ngSubmit)="modifyUser(modifyForm)">
    <div class="form-group" align="center">
        <table>
            <br><br>
            <h4>To Modify your Account</h4><br>
            <h4>Enter Some Details</h4><br>
            <tr>
                <td> User Id</td>
                <td><input type="number" class="form-control" name="userId" placeholder="Enter user id" ngModel
                        #userId=ngModel required></td>
                <td>
                    <div *ngIf="userId.invalid && (userId.dirty || userId.touched)" class="myerror">
                        <div *ngIf="userId.invalid == true">
                            <div *ngIf="userId.errors.required">
                                User Id is required.| Must be numeric.
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>User Type</td>
                <td><input type="text" class="form-control" name="type" placeholder="Enter user type" ngModel
                        #userType=ngModel required></td>
                <td>
                    <div *ngIf="userType.invalid && (userType.dirty || userType.touched)" class="myerror">
                        <div *ngIf="userType.invalid == true">
                            <div *ngIf="userType.errors.required">
                                User Type is required.| Must be textual.
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>User Name</td>
                <td><input type="text" class="form-control" name="name" placeholder="Enter user name" ngModel
                        #userName=ngModel required></td>
                <td>
                    <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="myerror">
                        <div *ngIf="userName.invalid == true">
                            <div *ngIf="userName.errors.required">
                                Name is required.
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>User Password</td>
                <td><input type="password" class="form-control" name="password" placeholder="Enter user password"
                        ngModel #userPassword=ngModel minlength="6" required></td>
                <td>
                    <div *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)" class="myerror">
                        <div *ngIf="userPassword.invalid == true">
                            <div *ngIf="userPassword.errors.required">
                                Password is required.
                            </div>
                            <div *ngIf="userPassword.errors.minlength">
                                Password must contain atleast 6 characters.
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>User Phone</td>
                <td><input type="number" class="form-control" name="phoneNo" placeholder="Enter user phoneNo" ngModel
                        #userPhone=ngModel minlength="10" maxlength="10" pattern="[1-9]{1}[0-9]{9}" required></td>
                <td>
                    <div *ngIf="userPhone.invalid && (userPhone.dirty || userPhone.touched)" class="myerror">
                        <div *ngIf="userPhone.invalid == true">
                            <div *ngIf="userPhone.errors.required">
                                PhoneNo is required.
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>User Email</td>
                <td><input type="text" class="form-control" name="email" placeholder="Enter user emailId" ngModel
                        #userEmail=ngModel  required></td>
                <td>
                    <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="myerror">
                        <div *ngIf="userEmail.invalid == true">
                            <div *ngIf="userEmail.errors.required">
                                Email is required.
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <button type="submit" [disabled]="modifyForm.form.invalid" class="btn btn-primary">Modify</button>
            </tr>
        </table>
    </div>
</form>
<div *ngIf="modifyStatus" align="center">
    <br>
    <h4>Infomation is Modified</h4>
</div>
<div *ngIf="notModifiedStatus" align="center">
    <br>
    <h4>No records found !!</h4>
</div>