<h1>Flight Reservation System</h1>
<h2>Welcome User!!</h2>
<h3><a routerLink="app-add-user">Register</a></h3>
<h3><a routerLink="app-delete-user">Delete</a></h3>
<h3><a routerLink="app-view-users">View User Details</a></h3>
<h3><a routerLink="app-view-users">View User Details</a></h3>
<h3><a routerLink="app-modify-user">Modify User</a></h3>
------------------------------------------------------------------
<!-- <table>
    <tr>
        <td><h1>Flight Reservation System</h1></td>
    </tr>
    <tr>
        <td><h2>Welcome User!!</h2></td>
    </tr>
</table>
    
<div>
        &nbsp;<h3><a routerLink="app-add-user">Register</a></h3>
        &nbsp;<h3><a routerLink="app-delete-user">Delete</a></h3>
        <h3><a routerLink="app-view-users">View User Details</a></h3>
        <h3><a routerLink="app-view-all-users">View All Users Details</a></h3>
        <h3><a routerLink="app-modify-user">Modify User</a></h3>
    
</div> -->
        <router-outlet></router-outlet>



    <!-- <tr>
        <td>---------------------------------------</td>
    </tr>
    <tr>
        <td><h4></h4></h4></td>
        <td></td>
        <td><h4><a routerLink="app-view-users">View User Details</a></h4></td>  
        <td><h4><a routerLink="app-modify-user">Modify User</a></h4></td>
    </tr> -->
    <!-- <tr>
        <br><br><td><h3><a routerLink="app-delete-user">Delete</a></h3></td>
    </tr>
    <tr>
        <br><br><td><h3><a routerLink="app-view-users">View User Details</a></h3></td>
    </tr>
    <tr>
         <br><br><td><h3><a routerLink="app-view-all-users">View All Users Details</a></h3></td> 
    </tr>
    <tr>
        <br><br><td><h3><a routerLink="app-modify-user">Modify User</a></h3></td> 
   </tr> -->

<!-- <h4><a routerLink="app-searchpassenger">Search Passenger </a></h4>

<h4><a routerLink="app-deletepassenger">Delete Passenger </a></h4> -->

